{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "plugin:jest-dom/recommended",
    "plugin:testing-library/recommended",
    "plugin:testing-library/react",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "plugins": [
    "import",
    "jest",
    "jest-dom",
    "testing-library",
    "jsx-a11y",
    "react",
    "react-hooks",
    "@typescript-eslint"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": [
      "./tsconfig.json"
    ]
  },
  "ignorePatterns": [
    "rollup.config.js"
  ],
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": ["error", "always-multiline"],
    "function-call-argument-newline": ["error", "consistent"],
    "max-len": ["error", { "code": 170, "ignoreTemplateLiterals": true, "ignoreRegExpLiterals": true }],
    "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 3 }],
    "import/no-extraneous-dependencies": ["off"]
  }
}
