@import '../../theme.less';

.day {
  display: inline-block;
  width: (1 / 7) * 100%;
  height: #spacing(8)[];
  line-height: #spacing(8)[];
  text-align: center;
  background-color: #palette[secondary];

  &__month__even {
    background-color: #palette[primary];
  }
}
