@import '../../theme.less';

// local mixins
.highlightCircle(@borderWidth) {
  content: '';
  position: absolute;
  width: #spacing(7.5)[];
  height: #spacing(7.5)[];
  // The diff between the height of this content, the cell height and the border width.
  top: calc(#spacing(0.25)[] - @borderWidth);
  // The diff between the half of theis content width, half of the cell width and the border with.
  left: calc(50% - #spacing(3.75)[] - @borderWidth);
  border-radius: 50%;
  border-width: @borderWidth;
  border-style: solid;
  border-color: #palette.border[primary];
  z-index: +1;
}

.monthEdge(@place) {
  border-top-left-radius: if(@place = first, #spacing(4)[], 0);
  border-bottom-right-radius: if(@place = last, #spacing(4)[], 0);
  &::before {
    content: '';
    position: absolute;
    min-width: #spacing(8)[];
    height: inherit;
    top: 0;
    left: if(@place = first, 0, unset);
    right: if(@place = last, 0, unset);
    background-color: #palette.main[primary];
    z-index: -1;
  }
  &__even::before {
    background-color: #palette.main[secondary];
  }
}

.day {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: #spacing(8)[];
  height: #spacing(8)[];
  color: #palette.text[primary];
  background-color: #palette.main[secondary];
  cursor: pointer;

  &:hover::after {
    .highlightCircle(1px);
  }

  &__today::after {
    .highlightCircle(2px);
  }

  &__weekend {
    color: #palette.text[secondary];
  }

  &__month__even {
    background-color: #palette.main[primary];
  }

  &__first__of__month {
    font-weight: bold;
    .monthEdge(first);
  }

  &__last__of__month {
    .monthEdge(last);
  }

  &__detail {
    color: inherit;
    font-size: small;
    font-weight: normal;
  }
}
