@import '../../theme.less';

.header {
  position: relative;
  display: flex;
  align-items: stretch;
  background-color: #palette.main[secondary];
  min-width: #spacing(8)[] * 7;

  &__weekdays {
    position: relative;
    display: flex;
    flex: 1;
    align-items: stretch;
    margin: 0;
    padding: 0;
  }

  &__weekday {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: #spacing(8)[];
    height: #spacing(5)[];
    font-weight: bold;
    color: #palette.text[primary];
  }
}
