#spacing(@times) {
  @result: @times * 8px;
}

.calendar {
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  display: flex;
  align-items: stretch;
  min-width: #spacing(8)[] * 7;

  &__row {
    position: relative;
    display: flex;
    flex: 1;
    align-items: stretch;
    margin: 0;
    padding: 0;
    list-style-type: none;
    min-height: #spacing(5)[];
  }

  &__cell {
    position: relative;
    display: flex;
    flex: 1;
    min-width: #spacing(8)[];

    &__content {
      flex: 1;
      align-self: center;
      text-align: center;
    }
  }
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: visible;
  min-width: #spacing(8)[] * 7;

  &__row {
    position: relative;
    display: flex;
    align-items: stretch;
    margin: 0;
    padding: 0;
    min-height: #spacing(8)[];
    list-style-type: none;
  }

  &__cell {
    position: relative;
    display: flex;
    flex: 1;
    min-width: #spacing(8)[];

    &__content {
      flex: 1;
      align-self: center;
      text-align: center;
    }
  }
}

.empty {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
