name: Build Workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
    - name: Git Checkout
      uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '20'
    - name: Install npm packages
      run: npm ci
    - name: Run eslint
      run: npm run lint
    - name: Run tests
      run: npm run jest
    - name: Build library
      run: npm run build
